*, html, body{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Helvetica;
    scroll-behavior: smooth;
}

header {
    background: #1a2238;
    color: #eaeaea;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    margin-right: auto;
    display: flex;
    gap: 6px;
}

.logo-img {
    width: 35px;
    height: 35px;
    margin-left: 0;
}

.logo-title {
    cursor: pointer;
    transition: all .5s ease 0s;
}

.logo:hover {
    color: #ff6a3d;
    transform: rotate(2deg);
}

nav ul{
    display: flex;
    padding: 20px;
}

li {
    list-style-type: none;
    padding: 10px; 
}

li a {
    transition: all .5s ease 0s;
    display: inline-block;
}

li a:hover {
    color: #ff6a3d;
    transform: rotate(2deg);
}

a {
    color: #eaeaea;
    text-decoration: none;
}

.pd-h1 {
    padding: 10;
}

.p {
    padding: 10;
}

iframe {
    padding: 10;
}

.pd-h2 {
    padding: 10;
}